/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
$red_color: #A02;


h1{
	font-size: 3.9em;
	margin: 30px 13%;
}

p{
	font-size: 18px;
	color: $red_color;
	padding: 10px 4%;
}

.edit-button, .save-button{
	float: right;
	margin: 20px 10%;
	font-size: 1.3em;
}

.content-area{

	margin: 20px 10%;
}

.editable{
	border: 3px solid $red_color;
}